.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #31748f
}



body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #9ccfd8;
}

.grid-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 50px;
}

/* #contact-buttons{
    text-align: right;
    
}

.buttons-contact {
    display: inline-block;
} */

  
.grid-item {
    background-color: #eee9e6;
    border: 1px solid #191724;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    padding: 20px;
}

input {
    height: 35px;
    width: 200px;
    display: inline-block;
    margin: auto;
}

a:link {
    color: #232136;
    text-decoration: none;
  }
  

a:visited {
    color: #2a273f	;
    text-decoration: none;
  }

a:hover {
    color: #393552;
  }

a:active {
    color:#232136;
    text-decoration: none;
  }


#subcancel {
    text-align: center;
}

.buttons {
    display: inline-block;
}

#button1 {
    background-color: #31748f;
    color: #faf4ed;
    width: 100px;
    border-color: #9ccfd8;
}

#button2 {
    width: 55px;
    background-color: #eb6f92;
    color: #faf4ed;
    border-color: #9ccfd8;
}
/* .flex {
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 10px;
    flex-wrap: wrap-reverse;
}

#plusbutton {
    display: inline-block;
    width: 7px;
    height: 7px; */
/* } */
/* div.flex {
    float:right;
} */

.i-block, button {
    display: inline-block;
    margin-left: 252px;
    text-align: right;
    border-width: 1px;
    border-radius: 3px;
    border-color: #9ccfd8;
    background-color:#9ccfd8 ;
}

.edit-info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#edit-contact {
    text-align: center;
    /* text-align: center;
    background-color: #9ccfd8; */
    
}

.buttons-edit {
    display: inline-block;
}

#edit {
    background-color: #286983;
    color: #faf4ed;
    width: 100px;
    border-color: #9ccfd8;
}

#close {
    background-color: #312f44;
    color: #faf4ed;
    width: 100px;
    border-color: #9ccfd8;
}
/* .buttons {
    display: inline-block;
}

#button1 {
    background-color: #31748f;
    color: #faf4ed;
    width: 100px;
    border-color: #9ccfd8;
}

#button2 {
    width: 55px;
    background-color: #eb6f92;
    color: #faf4ed;
    border-color: #9ccfd8;
} */

/* .picture-edit {
    display: flex;
    flex-wrap: wrap;
} */

.picture-edit {
    display: inline-block;
    vertical-align: middle;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    padding: 20px;
}

h1 {
    display: inline;
}